<div class="main top-main">
  <div class="top-message">
    <h2>君の夢はなんだ？</h2>
    <p>自分の夢を世界に発信しよう!!</p>
  </div>
  <br>
  <br>
  <div class="top_form">
    <%= link_to("/signup") do %>
      <input type="submit" value="新規登録して投稿！">
    <% end %>
  </div>
</div>

